{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- FontAwesome CDN -->
    <script src="https://kit.fontawesome.com/f45085c2b9.js" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/general_app/base_styling.css '%}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css '%}">
    <link rel="stylesheet" href="{% static 'css/navbar.css '%}">


  </head>
  
    <body class="no-scrollbar">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'home' %}{% endif %}">VIPR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">





    {% if user.role == "Admin" %}
      <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'dashboard' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'dashboard' %}">Admin</a>
        </li>

        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'user_list' %} active{% endif %}" href="{% url 'user_list' %}">Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'mech_report_list' %} active{% endif %}" href="{% url 'mech_report_list' %}">Reports</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'equipment_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'equipment_list' %}">Equipment</a>
        </li>







    {% elif user.role == "Driver" %}
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'dashboard' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'dashboard' %}">Driver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'report_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'report_list' %}">Reports</a>
        </li>
        
      


        

    {% elif user.role == "Mechanic" %}
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'dashboard' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'dashboard' %}">Mechanic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'mech_report_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'mech_report_list' %}">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'equipment_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'equipment_list' %}">Equipment</a>
        </li>
      
        

    {% else %}
      <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'home' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'features' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'features' %}">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'pricing' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'pricing' %}">Pricing</a>
        </li>
    {% endif %}




    </ul>
    {% if user.is_authenticated %}
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            <span id="profile-pic">{{ user.email }}</span> <i class="fas fa-user-circle fa-2x"></i>
            
          </a>
          <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'user_profile' user.id %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'support' %}">Support</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

          </ul>
        </li>
      </ul>
        
        {% else %}
          <a class="nav-link" href="{% url 'login' %}"> <span id="login">Login</span>
          <i class="fas fa-sign-in-alt fa-2x" id="sign-in-logo"></i>
          </a>
        {% endif %}

    </div>
  </div>
</nav>
<br/>
    

    <div class="container-fluid">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  

    <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</div>

{% include 'general_app/footer.html' %}


    


  </body>
  <!-- Option 1: Bootstrap Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
