{% extends 'general_app/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/general_app/home_styling.css '%}">



<div class="main-image">
  <div class="text">VIPR</div>
</div>
<br/>
<br/>
<br/>

<div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light">
      <h4>What we do.</h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis vel massa in lobortis. Donec vel auctor urna, id pellentesque lacus. Fusce et aliquam augue. Fusce accumsan scelerisque molestie. Integer sagittis, leo eu maximus pulvinar, libero libero vehicula purus, vulputate condimentum massa ipsum sit amet justo. Nunc blandit leo non lacus eleifend, et dictum metus varius. Fusce euismod eros nec quam interdum, nec pharetra eros aliquam. Aliquam nec interdum sapien. Maecenas et neque semper ipsum vehicula rutrum eu vitae erat. Cras vestibulum in diam ac tincidunt. Nullam quis dui tortor.</p>


      </div>
    </div>

    <div class="col">
      <div class="p-3 border bg-light">
        <h4>Quick report filtering.</h4>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis vel massa in lobortis. Donec vel auctor urna, id pellentesque lacus. Fusce et aliquam augue. Fusce accumsan scelerisque molestie. Integer sagittis, leo eu maximus pulvinar, libero libero vehicula purus, vulputate condimentum massa ipsum sit amet justo. Nunc blandit leo non lacus eleifend, et dictum metus varius. Fusce euismod eros nec quam interdum, nec pharetra eros aliquam. Aliquam nec interdum sapien. Maecenas et neque semper ipsum vehicula rutrum eu vitae erat. Cras vestibulum in diam ac tincidunt. Nullam quis dui tortor.</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <h4>Fully Custom.</h4>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis vel massa in lobortis. Donec vel auctor urna, id pellentesque lacus. Fusce et aliquam augue. Fusce accumsan scelerisque molestie. Integer sagittis, leo eu maximus pulvinar, libero libero vehicula purus, vulputate condimentum massa ipsum sit amet justo. Nunc blandit leo non lacus eleifend, et dictum metus varius. Fusce euismod eros nec quam interdum, nec pharetra eros aliquam. Aliquam nec interdum sapien. Maecenas et neque semper ipsum vehicula rutrum eu vitae erat. Cras vestibulum in diam ac tincidunt. Nullam quis dui tortor.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}