{% extends 'user_app/base.html' %}

{% block content %}
    

<h1>Users</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
 
	{% for user in object_list %}
	<div class="col">
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{user.email}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{user.role}}</h6>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="{% url 'update_user' user.id %}" class="card-link">Update</a>
			<a href="#" class="card-link">Delete</a>
		</div>
	</div>
	</div>
	{% endfor %}
</div>

{% endblock %}