{% extends 'general_app/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/card_zoom.css '%}">


<h1>Users</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
 
	{% for user in object_list %}
	<div class="col">
	<div class="card zoom" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{user.email}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{user.role}}</h6>
			<p class="card-text">
			{% if user.is_active %}
			ACTIVE<br/>
			{% else %}
			INACTIVE<br/>
			{% endif %}
			{% if user.is_admin %}
			Administrator<br/>
			{% else %}
			Not administrator<br/>
			{% endif %}
			{% if user.is_staff %}
			Staff Member<br/>
			{% else %}
			Not Staff<br/>
			{% endif %}
			</p>
			<a href="{% url 'update_user' user.id %}" class="card-link">Update</a>
			<a href="{% url 'change_password' user.id %}" class="card-link">Pass Change</a>
			<a href="{% url 'delete_user' user.id %}" class="card-link">Delete</a>
		</div>
	</div>
	</div>
	{% endfor %}
</div>

{% endblock %}