{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css '%}">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VIPR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'admin_area' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'admin_area' %}">Admin</a>
        </li>

        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'register_user' %} active{% endif %}" href="{% url 'register_user' %}">Create User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'user_list' %} active{% endif %}" href="{% url 'user_list' %}">Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'mech_report_list' %} active{% endif %}" href="{% url 'mech_report_list' %}">Reports</a>
        </li>

        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'completed_mech_report_list' %} active{% endif %}" href="{% url 'completed_mech_report_list' %}">Completed Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'equipment_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'equipment_list' %}">Equipment</a>
        </li>
        </ul>
       


        {% if user.is_authenticated %}
        <ul class="navbar-nav">


<!------------------------------------Notifications------>




          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <span><i class="fas fa-bell" id="notif-icon"></i></span><span class="badge totalunread">0</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark notification-list" aria-labelledby="navbarDarkDropdownMenuLink">
          <li class="nav-link ajaxRes"></li>
          <!------------MESSAGES --------------->
        </ul>
        </li>
        </li>


<script>
  $(document).ready(function(){
    $(".ajaxRes").hide();
    setInterval(function(){
      $.ajax({
          url:"{% url 'get_notification' %}",
          dataType: 'json',

          beforeSend:function(){
            $(".ajaxRes").show();
              $(".ajaxRes").text('Loading...');
          },
          success:function(res){
              _html='';
              $(".totalunread").text(res.totalUnread);
              $.each(res.data, function(index, d){
                  if(d.notifStatus==true){
                    _html+= '<li class="nav-link list'+d.pk+'">' + d.message + '<a data-index="'+d.pk+'" data-notif="'+d.pk+'"  class="btn btn-primary markreadbtn markreadbtn'+d.pk+'"style="display:none;">Mark As Read</a> <a class="btn btn-success marked'+d.pk+'">Marked</a></li>';
                  }else{
                    _html+= '<li class="nav-link list'+d.pk+'">' + d.message + '<a data-index="'+d.pk+'" data-notif="'+d.pk+'"  class="btn btn-primary markreadbtn markreadbtn'+d.pk+'">Mark As Read</a> <a class="btn btn-success marked marked'+d.pk+'">Marked</a></li>';
                  }
                  
              });
              $(".notification-list").html(_html);
              $(".ajaxRes").hide();
          }
      });
    },5000);
    $(document).on("click", ".markreadbtn",function(){
        var _index=$(this).attr('data-index');
        var _notif=$(this).attr('data-notif');
        $.ajax({
          url:"{% url 'mark_read_notif' %}",
          data:{
              notif:_notif
          },
          dataType: 'json',

          beforeSend:function(){
            
          },
          success:function(res){
            if(res.bool==true){
              $(".markreadbtn"+_index).hide();
              $(".marked"+_index).show();
            }

          }
        });
    });

  });
</script>











<!------------------------------------Profile dropdown------>
        <li class="nav-item dropdown">
          
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

          <span id="profile-pic">{{ user.email }}</span> <i class="fas fa-user-circle fa-2x"></i>
          </a>


          <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'user_profile' user.id %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'support' %}">Support</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

          </ul>
        </li>
      </ul>
        
        {% else %}
          <a class="nav-link" href="{% url 'login' %}"> <span id="login">Login</span>
          <i class="fas fa-sign-in-alt fa-2x" id="sign-in-logo"></i>
          </a>
        {% endif %}

    </div>
  </div>
</nav>
