<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VIPR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="navbar">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'driver_area' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'driver_area' %}">Driver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'inspection_report' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'inspection_report' %}">Vehicle Inspection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'report_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'report_list' %}">Reports</a>
        </li>
      </ul>
        
      


        {% if user.is_authenticated %}
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg> {{ user.email }}
          </a>
          <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

          </ul>
        </li>
      </ul>
        
        {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}

    </div>
  </div>
</nav>