{% extends 'general_app/base.html' %}

{% block content %}
    
{% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ form.errors }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria label="Close"></button>
        </div>
{% endif %}



<div class="shadow p-4 mb-5 bg-body rounded">
  <h1>Vehicle Inspection Report</h1><br/>



<form action="" method=POST>
	{% csrf_token %}
  
  <input class="form-control" type="text" placeholder="{{ user.email }}" readonly>
  <br/>

  <label for="equipment">What equipment are you creating this report for?:</label>
  <select class="form-select" id="equipment" name="equipment">
  {% for equip in equipment%}
  {% if equip.driver == user %}
  <option value="{{ equip.equipment_type }} {{ equip.id }}"> {{ equip.equipment_type }} {{ equip.id }} </option>
  {% else %}
  {% endif %}
  {% endfor %}
</select>


  {{ form.as_p }}

  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>



</form>
</div>



<script type="text/javascript">

function myFunction(x){
  if(x.style.display === 'none'){
    x.style.display = 'block'
  }

  else{
    x.style.display = 'none'
  }
};


x = document.getElementById("engine");
b = document.getElementById("engine_check");
b.onclick = function() {myFunction(x)};

/*
$(function(){
$(x).hide();
$(x.label).hide();
$(b).click(function(){

    if(this.checked) {
      $(x).show();
    }

    else{
      $(x).hide();
    }
  });
});*/
</script>




{% endblock %}