{% extends 'user_app/base.html' %}
{% load static %}
{% block content %}
    
<link rel="stylesheet" href="{% static 'css/card_zoom.css '%}">

<h1>Users</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
 
	{% for report in object_list %}
	{% if report.repairStatus == True %}
	{% else %}
	{% if report.driver == user %}
	<div class="col">
	<div class="card zoom" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{report.truck}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{report.driver}} </h6>

			<p class="card-text">
			{% if report.repairStatus == True %}
			<p>Repaired</p>
			{% else %}
			<p>Not Repaired</p>
			{% endif %}			
			</p>
			<a href="{% url 'driver_report_details' report.pk %}" class="card-link">View Report Details...</a>
			
		</div>
	</div>
	</div>
	{% endif %}
	{% endif %}
	{% endfor %}
</div>

{% endblock %}