/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  color: white;
}

.custom-container{
  background: url('/viper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5%;
  margin-top: calc(10% - 100vw);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}