{% extends 'general_app/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/card_zoom.css '%}">


<div style="display:inline-block; display: flex; align-items: center">
<h1>Completed Reports</h1>
<form style="margin-left:auto; margin-right:0;" class="d-flex" method="GET" action="" id="form1">
	<input class="form-control me-2" type="search" name="equipment" id="equipment" value="{{ request.GET.equipment }}" placeholder="Search for equipment..."><span><button class="btn btn-primary" type="submit">Search</button></span></input>
	<button id="btnClear" class="d-none"></button>
</form>
<br/>
</div>
<hr>

<label for="btnClear" class="d-none" id="btnCLearLabel"><span><i class="fas fa-times"></i></span></label>

<script type="text/javascript">
			$(document).ready(function () {
  
                var inputString = $("#equipment").val();
                console.log(inputString);

            if(inputString != '') {
		      $("#btnCLearLabel").removeClass('d-none');
		    }

		    else{
		      $("#btnCLearLabel").addClass("d-none");
		    }
        });
		</script>



<script>
	$(document).ready(function(){
		$('#btnClear').click(function(){
				/*Clear all input type="text" box*/
				$('#form1 input[type="text"]').val('');
				/*Clear textarea using id */
				$('#form1 #equipment').val('');				
		});
	});
</script>





{% if user.role == 'Admin' %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<p>Download report summary:</p>
	<a href="{% url 'report_csv' %}"><i class="fas fa-file-csv fa-2x"></i></a><br/>
	<a href="{% url 'report_pdf' %}"><i class="fas fa-file-pdf fa-2x"></i></a>
</div>

{% else %}
{% endif %}


<div class="row row-cols-1 row-cols-md-3 g-4">
 
	{% for report in object_list %}
	{% if report.repairStatus == False %}
	{% else %}
	<div class="col">
	<div class="card zoom" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{report.equipment}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{report.driver}} - {{report.date}}</h6>
			<p class="card-text">
			{% if report.repairStatus == True %}
			<p>Repaired by {{ report.assignedMech}}</p>
			{% else %}
			<p>Not Repaired</p>
			{% endif %}			
			</p>
			<a href="{% url 'completed_mechanic_report_details' report.pk %}" class="card-link">View Report Details...</a>
		
			

		</div>
	</div>
	</div>
	{% endif %}
	{% endfor %}
</div>

<br/><br/>

<div id="PaginationBar">
	{% if is_paginated %}
		<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  	{% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="/administrator/user_list?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
    {% endif %}

    {% for page in page_obj.number|stringformat:"i" %}

		{% if page == page_obj.paginator.num_pages|stringformat:"i" %}
		<li class="page-item"><a class="page-link" href="/administrator/user_list?page={{ page|add:"-2" }}">{{ page|add:"-2" }}</a></li>
	    {% endif %}


	    {% if page != 1|stringformat:"i" %}
	    <li class="page-item"><a class="page-link" href="/administrator/user_list?page={{ page|add:"-1" }}">{{ page|add:"-1" }}</a></li>
	    {% endif %}



    <li class="page-item active"><a class="page-link" href="/administrator/user_list?page={{ page }}">{{ page }}</a></li>




	    {% if page != page_obj.paginator.num_pages|stringformat:"i" %}
	    <li class="page-item"><a class="page-link" href="/administrator/user_list?page={{ page|add:"1" }}">{{ page|add:"1" }}</a></li>
	    {% endif %}

	    {% if page == 1|stringformat:"i" %}
	    <li class="page-item"><a class="page-link" href="/administrator/user_list?page={{ page|add:"2" }}">{{ page|add:"2" }}</a></li>
	    {% endif %}

   {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="/administrator/user_list?page={{ page_obj.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
    {% endif %}
  </ul>
</nav>
</div>
{% endif %}
</div>

{% endblock %}