{% extends 'general_app/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/mechanic_app/mech_area.css '%}">

<div class="container-fluid">


  <div class="row gx-5">

    <div class="col-sm-2 col-md-3">
     <div class="p-3 border bg-light text-center text-break">
     	<i class="fas fa-user-circle fa-7x"></i>
     	<p>{{ user }}</p>
		<p>{{ user.id }}</p>
	</div>
    </div>


<div class="col no-scrollbar" id="report-history">
      <div class="p-3 border bg-light">
          <p>Report History</p>
  <table class="table table-striped">
    <col width="15%" />
    <col width="50%" />
  <thead>
    <tr>
      <th scope="col">Vehicle #</th>
      <th scope="col">Description of change...</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for h in object%}
    <tr>
      <th scope="row">{{ h.instance }}</th>
     <td id="change-desc">{{ h.history_change_reason }}</td>
     
      <td> {%if h.lastUpdatedMech >= h.lastUpdatedUser or h.lastUpdatedUser == null %} {{ h.lastUpdatedMech }} {% else %} {{ h.lastUpdatedUser }} {% endif %}</td> 


    </tr>
    {% endfor %}
  </tbody>
  </table>
    </div>
    </div>

    <div class="col-sm-2 col-md-3">
    	<div class="p-3 border bg-light">
      		<p>Updates & Bug Fixes</p>
  		</div>
    </div>


  </div>

</div>



{% endblock %}