{% extends 'general_app/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/modal.css '%}">



<a  onclick="history.back(-1)" role="button"><span class="fas fa-chevron-left"></span> Back</a>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">

{% if report_pk.repairStatus == 0 %}
<label class="btn btn-secondary" for="save-form" tabindex="0">Save Repair</label>

<label class="btn btn-primary" for="complete-form" tabindex="0">Complete Repair</label>

{% else %}
<h4>Not Repaired?...</h4>
<label class="btn btn-secondary" for="reopen-form" tabindex="0">re-Open Repair Ticket</label>
{% endif %}

</div>

<h1>Report</h1>

<div class="shadow p-4 mb-5 bg-body rounded">
	<form action="" method=POST>
	{% csrf_token %}
	{{ report_pk.driver }} <br/>
	{{ report_pk.id }} <br/>
	{{ report_pk.repairStatus }} <br/>
  

  	{{ form.as_p }}
  	<br/>
  	<input type="submit" id="save-form" class="d-none" />
  	<input type="submit" id="complete-form" name="complete-btn" class="d-none"/>
  	

	</form>

</div>
{% if report_pk.repairStatus == 0 %}
{% else %}
	<div class="d-grid gap-2">
			

		{% if user.role == "Admin" %}
			<a class="btn btn-danger" onclick="document.getElementById('id01').style.display='block'">Delete</a>
		{% endif %}
	</div>

{% endif %}	


		<!-- The Modal -->
		<div id="id01" class="modal">
		  <form class="modal-content" action="">
		    <div class="container">
		    	<h1>Delete Entry?</h1>
		    	
		    	<p>Are you sure you want to delete this entry?</p>


		    	<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="delete_check">
				  <label class="form-check-label" for="delete_check">
				    Yes, I want to delete this entry...
				  </label>
				</div>
				<br/>

		        <a type="button" class="btn btn-secondary"href="">Cancel</a>

		        <a type="button"class="btn btn-danger disabled" id="deletebutton" href="{% url 'delete_report' report_pk.id %}">Delete</a>
		    </div>
		  </form>
		</div>
		<script type="text/javascript">
		$('#delete_check').click(function(){

		    if(this.checked) {
		      $("#deletebutton").removeClass('disabled');
		      console.log('checked');
		    }

		    else{
		      $("#deletebutton").addClass("disabled");
		      console.log("unchecked");
		    }
		  });
		</script>

		<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
		  }
		}
		</script>


<script type="text/javascript">
window.onload = function myFunction(){
		a = document.getElementById("engine_check"); a.style.display = 'none'; 
		b = document.getElementById("transmission_check"); b.style.display = 'none';
		c = document.getElementById("steering_check"); c.style.display = 'none';
		d = document.getElementById("horn_check"); d.style.display = 'none';
		e = document.getElementById("wipers_check"); e.style.display = 'none';
		f = document.getElementById("mirrors_check"); f.style.display = 'none';
		g = document.getElementById("lights_check"); g.style.display = 'none';
		h = document.getElementById("brakes_check"); h.style.display = 'none';
		i = document.getElementById("air_lines_check"); i.style.display = 'none';
		j = document.getElementById("tires_check"); j.style.display = 'none';
		k = document.getElementById("wheels_check"); k.style.display = 'none';
		l = document.getElementById("emergency_check"); l.style.display = 'none';
		m = document.getElementById("coupling_check"); m.style.display = 'none';
		n = document.getElementById("engine_check"); n.style.display = 'none';
		o = document.getElementById("other_check"); o.style.display = 'none';



		if(a.checked){
			a1= a.id.split('_')[0];
			a2 = document.getElementById(a1)
			a2.style.display = 'block'
		}
		else{
			$('label[for="engine_check"]').hide();
		}

		if(b.checked){
			b1= b.id.split('_')[0];
			b2 = document.getElementById(b1)
			b2.style.display = 'block'
		}
		else{
			$('label[for="transmission_check"]').hide();
		}

		if(c.checked){
			c1= c.id.split('_')[0];
			c2 = document.getElementById(c1)
			c2.style.display = 'block'
		}
		else{
			$('label[for="steering_check"]').hide();
		}

		if(d.checked){
			d1= d.id.split('_')[0];
			d2 = document.getElementById(d1)
			d2.style.display = 'block'
		}
		else{
			$('label[for="horn_check"]').hide();
		}

		if(a.checked){
			e1= e.id.split('_')[0];
			e2 = document.getElementById(e1)
			e2.style.display = 'block'
		}
		else{
			$('label[for="wipers_check"]').hide();
		}

		if(f.checked){
			f1= f.id.split('_')[0];
			f2 = document.getElementById(f1)
			f2.style.display = 'block'
		}
		else{
			$('label[for="mirrors_check"]').hide();
		}
		
		if(g.checked){
			g1= g.id.split('_')[0];
			g2 = document.getElementById(g1)
			g2.style.display = 'block'
		}
		else{
			$('label[for="lights_check"]').hide();
		}

		if(h.checked){
			h1= h.id.split('_')[0];
			h2 = document.getElementById(h1)
			h2.style.display = 'block'
		}
		else{
			$('label[for="brakes_check"]').hide();
		}

		if(i.checked){
			i1= i.id.split('_')[0];
			i2 = document.getElementById(i1)
			i2.style.display = 'block'
		}
		else{
			$('label[for="air_lines_check"]').hide();
		}

		if(j.checked){
			j1= j.id.split('_')[0];
			j2 = document.getElementById(j1)
			j2.style.display = 'block'
		}
		else{
			$('label[for="tires_check"]').hide();
		}

		if(k.checked){
			k1= k.id.split('_')[0];
			k2 = document.getElementById(k1)
			k2.style.display = 'block'
		}
		else{
			$('label[for="wheels_check"]').hide();
		}

		if(l.checked){
			l1= l.id.split('_')[0];
			l2 = document.getElementById(l1)
			l2.style.display = 'block'
		}
		else{
			$('label[for="emergency_check"]').hide();
		}

		if(m.checked){
			m1= m.id.split('_')[0];
			m2 = document.getElementById(m1)
			m2.style.display = 'block'
		}
		else{
			$('label[for="coupling_check"]').hide();
		}

		if(n.checked){
			n1= n.id.split('_')[0];
			n2 = document.getElementById(n1)
			n2.style.display = 'block'
		}
		else{
			$('label[for="engine_check"]').hide();
		}

		if(o.checked){
			o1= o.id.split('_')[0];
			o2 = document.getElementById(o1)
			o2.style.display = 'block'
		}
		else{
			$('label[for="other_check"]').hide();
		}

	};


/*
function myFunction(x, s){
  s = s || x;
  
  if(x.style.display === 'none'){
    s.style.display = 'block'
    x.style.display = 'block'
  }

  else{
    s.style.display = 'none'
    x.style.display = 'none'
    x.value=''
  }
};


a = document.getElementById("engine_check");
a.onclick = function() {myFunction(x = document.getElementById("engine"))};

b = document.getElementById("transmission_check");
b.onclick = function() {myFunction(x = document.getElementById("transmission"))};

c = document.getElementById("steering_check");
c.onclick = function() {myFunction(x = document.getElementById("steering"))};

d = document.getElementById("horn_check");
d.onclick = function() {myFunction(x = document.getElementById("horn"))};

e = document.getElementById("wipers_check");
e.onclick = function() {myFunction(x = document.getElementById("wipers"))};

f = document.getElementById("mirrors_check");
f.onclick = function() {myFunction(x = document.getElementById("mirrors"))};

g = document.getElementById("lights_check");
g.onclick = function() {myFunction(x = document.getElementById("lights"), s = document.getElementById("lights_type"))};

h = document.getElementById("brakes_check");
h.onclick = function() {myFunction(x = document.getElementById("brakes"))};

i = document.getElementById("air_lines_check");
i.onclick = function() {myFunction(x = document.getElementById("air_lines"))};

j = document.getElementById("tires_check");
j.onclick = function() {myFunction(x = document.getElementById("tires"))};

k = document.getElementById("wheels_check");
k.onclick = function() {myFunction(x = document.getElementById("wheels"))};

l = document.getElementById("emergency_check");
l.onclick = function() {myFunction(x = document.getElementById("emergency"), s = document.getElementById("emergency_type"))};

m = document.getElementById("coupling_check");
m.onclick = function() {myFunction(x = document.getElementById("coupling"))};

n = document.getElementById("engine_check");
n.onclick = function() {myFunction(x = document.getElementById("engine"))};

o = document.getElementById("other_check");
o.onclick = function() {myFunction(x = document.getElementById("other"))};*/
</script>


{% endblock %}