{% extends 'general_app/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/card_zoom.css '%}">
<link rel="stylesheet" href="{% static 'css/modal.css '%}">

<h1>Reports</h1>

<div>
<form class="d-flex" method="GET" action="">
	<input class="form-control me-2" type="search" name="truck" placeholder="Search for user..."><span><button class="btn btn-primary" type="submit">Search</button></span></input>
</form>
</div>
<br/>



<div class="row row-cols-1 row-cols-md-3 g-4">
 
 {% for report in object_list %}
	{% if report.repairStatus == True %}
	{% else %}
	
	<div class="col">
	<div class="card zoom">
		<div class="card-body">
			<h5 class="card-title">{{report.equipment}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{report.driver}} - {{report.date}}</h6>
			<p class="card-text">
			{% if report.repairStatus == True %}
			<p>Repaired</p>
			{% else %}
			<p>Not Repaired</p>
			{% endif %}			
			</p>

			{% if user.role == "Admin" %}
			<div class="d-grid gap-2">
				<a href="{% url 'mechanic_report_details' report.pk %}" class="btn btn-primary">Start Repair</a>

			
				<a class="btn btn-danger" onclick="document.getElementById('id01').style.display='block'">Delete</a>
			{% else %}
			<div class="d-grid">
				<br/>
				<a href="{% url 'mechanic_report_details' report.pk %}" class="btn btn-primary">Start Repair</a>
			{% endif %}
		</div>
		</div>
	</div>
	</div>


		<!-- The Modal -->
		<div id="id01" class="modal">
		  <form class="modal-content" action="">
		    <div class="container">
		    	<h1>Delete Entry?</h1>
		    	
		    	<p>Are you sure you want to delete this entry?</p>


		    	<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="" id="delete_check">
				  <label class="form-check-label" for="delete_check">
				    Yes, I want to delete this entry...
				  </label>
				</div>
				<br/>

		        <a type="button" class="btn btn-secondary"href="">Cancel</a>

		        <a type="button"class="btn btn-danger disabled" id="deletebutton" href="{% url 'delete_report' report.id %}">Delete</a>
		    </div>
		  </form>
		</div>
	
{% endif %}
{% endfor %}
</div>


		<script type="text/javascript">
		$('#delete_check').click(function(){

		    if(this.checked) {
		      $("#deletebutton").removeClass('disabled');
		      console.log('checked');
		    }

		    else{
		      $("#deletebutton").addClass("disabled");
		      console.log("unchecked");
		    }
		  });
		</script>

		<script>
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		  if (event.target == modal) {
		    modal.style.display = "none";
		  }
		}
		</script>

{% endblock %}