{% extends 'user_app/base.html' %}

{% block content %}

<a  onclick="history.back(-1)" role="button"><span class="fas fa-chevron-left"></span> Back</a>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a class="btn btn-secondary" href="#" role="button">Save</a>
<a class="btn btn-primary" href="#" role="button">Complete</a>
</div>

    

<h1>Report</h1>

<div class="shadow p-4 mb-5 bg-body rounded">
		{{vehicleinspectionreport.driver}}<br/>
		{{vehicleinspectionreport.truck}}<br/>
		{{vehicleinspectionreport.date}}<br/>
		Not Repaired


</div>

{% endblock %}