{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css '%}">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VIPR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'mechanic_area' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'mechanic_area' %}">Mechanic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'mech_report_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'mech_report_list' %}">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'completed_mech_report_list' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'completed_mech_report_list' %}">Completed Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'equipment' %} active {% elif request.resolver_match.url_name == '' %} active{% endif %}" href="{% url 'equipment' %}">Equipment</a>
        </li>
      </ul>
        
      


        {% if user.is_authenticated %}
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

            <span id="profile-pic">{{ user.email }}</span> <i class="fas fa-user-circle fa-2x"></i>

          </a>
          <ul class="dropdown-menu dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'user_profile' user.id %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'support' %}">Support</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

          </ul>
        </li>
      </ul>
        
        {% else %}
          <a class="nav-link" href="{% url 'login' %}"> <span id="login">Login</span>
          <i class="fas fa-sign-in-alt fa-2x" id="sign-in-logo"></i>
          </a>
        {% endif %}

    </div>
  </div>
</nav>